<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RBS Tech Test" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Shopping List App Sample Tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="Runner.TestRunner" />
        </classes>
    </test>
</suite>
